recipe {
    border:1px solid #faebd7;
    padding 2px 0px;
    color: #bc8f8f;
    font-family: 'Marcellus', serif; 
    background-color: #deb887;  
}


recipe img {
    padding: 5%;
    font-family: 'Marcellus', serif; 
    color: #bc8f8f;
    background-image:url(Images/salmon.jpg);
    background-color: #deb887;
    width:100%;
}

.ingredients, .instructions ul { 
    list-style-type:circle;
    text-decoration: none;
}